@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  margin: 0;

  display: grid;
  grid-template-rows: 1fr auto;
}

button, a, input[type="submit"] {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.tox-notifications-container{
  display:none;
}

h1{
  font-size: 1.75rem;
}

h2{
  font-size: 1.5rem;
}

h3{
  font-size: 1.25rem;
}