{% extends 'base.html' %}
{% block title %} Pepův Blog | O mně {% endblock %}
{% block body %}
<h2 class="text-2xl font-medium mb-2">O mně</h2>
<p class="mb-4 text-gray-600">Veškeré dosavadní informace o mně naleznete na mém <a href="https://pepamraz.cz" target="_blank" class="text-blue-500 underline">Osobním portfoliu</a></p>
<p class="mb-4 text-gray-600">Blog jsem se rozhodl vytvořit pro účely učení s backendovým Python frameworkem <a href="https://flask.palletsprojects.com/en/2.2.x/" target="_blank" class="text-blue-500 underline">Flask</a></p>
    <h3 class="text-xl font-medium mb-2">Co zde naleznete?</h3>
    <p class="mb-4 text-gray-600">Jsem schopen hezky psát o věcech, které mě samotného zajímají</p>
    <h3 class="text-xl font-medium mb-2">Co mě zajímá?</h3>
    <ul class="list-disc pl-4 mb-4 text-gray-600">
        <li>Programování</li>
        <li>Tvorba webových stránek</li>
        <li>Střih videí</li>
        <li>Grafický design</li>
        <li>Peníze</li>
    </ul>
{% endblock %}