{% extends 'base.html' %}
{% block title %} Pepův Blog | O mně {% endblock %}
{% block body %}
<section class="mb-8 text-center">
        <h2 class="text-3xl font-medium mb-2">O Blogu "Pepův Blog"</h2>
        <img src="{{ url_for('static',filename='img/about/blog.jpg') }}" class="mx-auto rounded-md">
        <p class="m-4 text-gray-600">Veškeré dosavadní informace o mně naleznete na mém <a href="https://pepamraz.cz"
                        target="_blank" class="text-blue-500 hover:underline">Osobním portfoliu</a></p>
        <p class="mb-4 text-gray-600">Blog jsem se rozhodl vytvořit pro účely učení s backendovým Python frameworkem <a
                        href="https://flask.palletsprojects.com/en/2.2.x/" target="_blank"
                        class="text-blue-500 hover:underline">Flask</a></p>
</section>
<section class="mb-8 text-center">
        <h3 class="text-xl font-medium mb-2">Co zde naleznete?</h3>
        <p class="mb-4 text-gray-600">Jsem schopen hezky psát o věcech, které mě samotného zajímají</p>
</section>
<section class="mb-8 text-center">
        <h3 class="text-xl font-medium mb-2">Co mě zajímá?</h3>
        <ul class="list-disc pl-4 mb-4 text-gray-600 text-left w-1/5 mx-auto">
                <li>Programování</li>
                <li>Tvorba webových stránek</li>
                <li>Střih videí</li>
                <li>Grafický design</li>
                <li>Peníze</li>
        </ul>
</section>
<section class="mb-8 text-center">
        <p class="mb-4 text-gray-600">Můžete se podívat na můj kód na <a
                        href="https://github.com/FryerZabijak/flask-blog" target="_blank"
                        class="text-blue-500 hover:underline">Github repositáři</a> tohoto blogu.</p>
        <p class="mb-4 text-gray-600">Také mě najdete na <a href="https://www.instagram.com/pepa_mraz/"
                        class="text-blue-500 hover:underline">Instagramu</a> a <a
                        href="https://github.com/FryerZabijak" target="_blank" class="text-blue-500 hover:underline">Githubu</a>.
        </p>
        <p class="mb-4 text-gray-600">Děkuji, že jste se podívali!</p>
</section>
{% endblock %}