{%extends 'base.html'%}
{% block head %}
<script src="{{ url_for('static',filename='js/logout.js') }}" defer></script>
<script src="{{ url_for('static',filename='js/delete.js') }}" defer></script>
<script src="{{ url_for('static',filename='js/show.js') }}" defer></script>
<script src="{{ url_for('static',filename='js/edit.js') }}" defer></script>

<style>
  main {
    display:flex;
    padding: 0 !important;
    margin: 0 !important;
  }
  aside {
    min-width: 140px;
    width:50%;
    max-width: 200px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .administration {
    width: 100%;
  }
</style>
{% endblock %} 
{% block body %}
<aside class="bg-emerald-400 h-auto w-auto shadow-2xl p-1 font-medium text-gray-700">
  <label class="text-xl">{{ current_user.login }}</label>
  {% if current_user.admin==True %}
  <label class="">Admin</label>
  {% else %}
  <label>Uživatel</label>
  {% endif %}
  <button
    class="text-white bg-yellow-500 hover:bg-yellow-400 p-1 shadow-lg rounded-lg"
    id="logout"
  >
    Odhlásit se
  </button>
  <a
    class="hover:text-gray-900"
    href="{{ url_for('admin_users') }}"
    >Uživatelé</a
  >
</aside>
<div class="administration"> {% block admin_body %} {% endblock %}</div>
{% endblock %}